@page "{customerId:int}"

@model BlobStorage.Pages.Customers.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<a asp-page="./List" class="btn btn-default"><i class="fa-solid fa-circle-arrow-left"></i></a>

<h2>@Model.Customer.Name</h2>
<div>
    ID: @Model.Customer.ID
</div>
<div>
    Location: @Model.Customer.Location
</div>
<div>
    BussineType: @Model.Customer.BussineType
</div>
  
           


<table class="table">
    @foreach(var Image in Model.Image)
    {
        <tr>
            <td>@Image.ID</td>
            <td>@Image.FileName</td>
            <td>@Image.CustomerID</td>
            <td>
                <a class="btn btn-lg">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
        </tr>
    }
</table>